.napisNaruto {
    height: 30%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: darkviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}

h3{
    text-align: center;
    color: rgb(81, 11, 160);
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h4,h5,p,label{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}

.nav-link{
    color: darkviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-image: url("https://i.pinimg.com/originals/0e/99/c1/0e99c1ff6c4fd08a9878f51960f6cdfb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a:hover, .btn:hover{
    color: rgb(211, 80, 35) !important;
}

.mytext{
    background-color: rgba(211, 80, 35, 0.5 );
}

.mobil{
    display: none;
    position: center;
}

/*Obrazok - on sides*/
.obrazok{
    position: sticky;
    top: 25%;
}
/*L-mobile form*/
@media (max-width: 768px) {
    .obrazok {
        display: none;
    }
    .mobil{
        display: inline;
    }
}

/*CHARACTERS*/
.btn-primary,.btn {
    color: black !important;
    background-color: darkviolet !important;
    border-color: black !important;
}

.btn-primary:focus {
    box-shadow: none !important;
}
/*JUTSUS*/
.card,.list-group-item{
    background-color:rgba(211, 80, 35, 0.4);
}
.dropdown-menu {
    background-color:rgba(0, 0, 0, 0);
    border-width: 0px;
}

.card-body {
    background-color: rgba(81, 11, 160,0.5);
}


/*TODO */
div[data-tooltip] {
    display: inline;
    font-weight: bold;
    position: relative;
}
.tooltip {
    display: block;
    width: 200px;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    z-index: 1;
    padding: 3px;
    top: 120%;
    left: 0;
}

