.napisNaruto {
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: darkviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}

h3{
    text-align: center;
}

h3,h4,h5{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}

.nav-link{
    color: darkviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}

a{
    color: darkviolet;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}
body {
    background-image: url("https://i.pinimg.com/originals/0e/99/c1/0e99c1ff6c4fd08a9878f51960f6cdfb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a:hover{
    color: red !important;
}

.mytext{
    background-color: rgba(196, 41, 8, 0.4 );
}

.mobil{
    display: none;
    position: center;
}

/*UPRAVOVANIE OBRAZKOV PO BOKU*/
.obrazok{
    position: sticky;
    top: 20%
}

@media (max-width: 768px) {
    .obrazok {
        display: none;
    }
    .mobil{
        display: inline;
        margin-top: 30% ;
    }
}

@media (max-width: 576px) {
    .mobil{
        display: inline;
        margin-top: 0% ;
    }
}


/*CHARACTERS*/
.btn-primary, .btn {
    color: black;
    background-color: darkviolet;
    border-color: black;
    margin-left: auto ;
    margin-right: auto;
}

.btn {
    color: black !important;
    background-color: darkviolet !important;
    border-color: black !important;

}

.btn-primary:focus {
    box-shadow: none !important;
}

.card-body {
    background-color: rgba(196, 41, 8, 0.4 );
}