body {
    background-color: rgb(196, 41, 8 );
}

.obrazok{
    height: 100%;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}
.obrazok1{
    display: none;
    height: 100%;
    width: 100%;
    margin: auto;
}
@media (max-width: 768px) {
    .obrazok {
        display: none;
    }
    .obrazok1 {
        display: inline;
    }
}

@media (max-width: 1200px) {
    .obrazok {
        height:60%;
        top: 5%
    }
}

@media (max-width: 1000px) {
    .obrazok {
        height:30%;
        top: 5%
    }
}

.napisNaruto {
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}